table{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

caption{
    text-align: right;
    caption-side: bottom;
    font-style: italic;
    margin: 5px 0;
    font-size: 14px;

}

table, th, td {
    border: 2px solid #ccc;;
    padding: 5px;
    text-align: left;
}

table tfoot {
    font-weight: bold;
    background-color: #ccc;
}